* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Fahkwang', sans-serif; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  background-image: url(dartbg.jpg);
  background-size: cover;
  background-position: right;
  overflow: hidden; }

#site-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 15px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9); }
  @media (max-width: 577px) {
    #site-container {
      padding: 5px 5px 0 5px; } }
  @media (max-height: 420px) {
    #site-container {
      flex-direction: row;
      overflow: hidden; } }
  #site-container.shake {
    animation: shake .2s ease-in-out; }
  #site-container .player-setup,
  #site-container .game {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 25px;
    color: #ccff00; }
  #site-container .player-setup {
    height: 300px;
    width: 100%;
    max-width: 500px; }
  #site-container .player-setup input,
  #site-container .game input {
    height: 14px;
    width: 14px;
    margin-left: 15px; }
  #site-container .game {
    height: 200px;
    width: 100%;
    max-width: 350px;
    display: none; }
  #site-container .game strong,
  #site-container .player-setup strong {
    margin-bottom: 15px; }
  #site-container .game-ok,
  #site-container .player-ok {
    width: 90px;
    height: 35px;
    color: black;
    background: #ccff00;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 35px;
    border: none;
    font-size: .7em; }
  #site-container input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #ccff00; }
  #site-container input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #8c0aa7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #ccff00; }
  #site-container #players {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5vh;
    opacity: 0; }
    @media (max-height: 420px) {
      #site-container #players {
        width: 70%;
        height: 100%;
        padding-bottom: 0; } }
    #site-container #players .player {
      list-style: none;
      font-size: 2rem;
      width: 50%;
      position: relative;
      display: flex;
      height: 20vh;
      border: 1px solid transparent;
      border-radius: 15px;
      transform: scale(0.9);
      transition: all .5s; }
      @media (max-width: 577px) {
        #site-container #players .player {
          width: 100%;
          height: 15vh; } }
      @media (max-height: 420px) {
        #site-container #players .player {
          width: 25%;
          height: 100%;
          flex-direction: column-reverse; } }
      #site-container #players .player.active {
        border-color: rgba(140, 10, 167, 0.4);
        box-shadow: 0 0 30px 12px rgba(140, 10, 167, 0.4);
        transform: scale(1); }
      #site-container #players .player .num {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        flex: 1;
        text-align: center;
        color: #ccff00; }
        @media (max-width: 577px) {
          #site-container #players .player .num {
            padding: 0; } }
        @media (max-height: 420px) {
          #site-container #players .player .num {
            flex-direction: row;
            padding: 5px;
            align-items: center; } }
        #site-container #players .player .num .point {
          position: relative;
          opacity: 0;
          height: 25%;
          transition: opacity .3s ease-in; }
          #site-container #players .player .num .point:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 18px;
            width: 18px;
            filter: blur(3px);
            background: #ccff00;
            border-radius: 50%; }
          #site-container #players .player .num .point.scored {
            opacity: 1; }
          @media (max-height: 420px) {
            #site-container #players .player .num .point {
              height: 100%;
              width: 25%; } }
        #site-container #players .player .num.full .point:after, #site-container #players .player .num.team-full .point:after {
          background: red; }
      #site-container #players .player .negative-score {
        width: 20%;
        display: flex;
        justify-content: center;
        padding-top: 15px;
        font-size: 4rem;
        color: #8c0aa7; }
        @media (max-height: 420px) {
          #site-container #players .player .negative-score {
            width: 100%; } }
      #site-container #players .player .darts-left {
        position: absolute;
        display: flex;
        width: 20%;
        height: 30px;
        bottom: 0;
        right: 0; }
        @media (max-height: 420px) {
          #site-container #players .player .darts-left {
            top: 0;
            height: 17vh;
            flex-direction: column; } }
        #site-container #players .player .darts-left .darts-icon {
          width: 33.333%;
          position: relative;
          opacity: 0;
          transition: .3s ease; }
          #site-container #players .player .darts-left .darts-icon:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 18px;
            width: 18px;
            filter: blur(3px);
            background: #ccff00;
            border-radius: 50%; }
          @media (max-height: 420px) {
            #site-container #players .player .darts-left .darts-icon {
              width: 100%;
              height: 33.333%; } }
  #site-container #buttonz {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #ccff00;
    opacity: 0;
    padding: 15px;
    border: 1px solid rgba(140, 10, 167, 0.4);
    border-radius: 15px;
    box-shadow: 0 0 30px 12px rgba(140, 10, 167, 0.4); }
    @media (max-width: 690px) {
      #site-container #buttonz {
        padding: 15px 0; } }
    @media (max-width: 577px) {
      #site-container #buttonz {
        height: 40vh;
        width: 100%;
        border: none;
        box-shadow: none; } }
    @media (max-height: 420px) {
      #site-container #buttonz {
        width: 30%;
        height: 100%;
        padding: 0; } }
    #site-container #buttonz #numbers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 5vh; }
      @media (max-width: 577px) {
        #site-container #buttonz #numbers {
          margin-bottom: 2vh; } }
      #site-container #buttonz #numbers span {
        margin-right: 15px;
        border: 1px solid rgba(204, 255, 0, 0.4);
        border-radius: 15px;
        padding: 10px 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        transition: .4s ease;
        cursor: pointer; }
        @media (max-width: 690px) {
          #site-container #buttonz #numbers span {
            font-size: 3rem; } }
        @media (max-width: 577px) {
          #site-container #buttonz #numbers span {
            width: 20%;
            margin: 1% 2.5%; } }
        @media (max-height: 420px) {
          #site-container #buttonz #numbers span {
            width: 25%;
            margin: 2.5%;
            font-size: 2.8rem; } }
        #site-container #buttonz #numbers span:last-child {
          position: relative;
          margin-right: 0;
          width: 76px; }
          @media (max-width: 420px) {
            #site-container #buttonz #numbers span:last-child {
              width: 63px; } }
          @media (max-height: 420px) {
            #site-container #buttonz #numbers span:last-child {
              height: 57px; } }
          #site-container #buttonz #numbers span:last-child:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 15px;
            width: 15px;
            background: red;
            border-radius: 50%;
            filter: blur(2px);
            z-index: 1; }
          #site-container #buttonz #numbers span:last-child:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 35px;
            width: 35px;
            background: green;
            border-radius: 50%;
            filter: blur(2px); }
        #site-container #buttonz #numbers span:active {
          border-color: #8c0aa7;
          background: #ccff00;
          color: #8c0aa7;
          transform: scale(0.9); }
          @media (max-width: 577px) {
            #site-container #buttonz #numbers span:active {
              transform: none; } }
          @media (max-height: 420px) {
            #site-container #buttonz #numbers span:active {
              transform: none; } }
    #site-container #buttonz #functions {
      display: flex; }
      #site-container #buttonz #functions .func-buttons {
        display: flex;
        justify-content: center;
        width: 100%; }
        @media (max-height: 420px) {
          #site-container #buttonz #functions .func-buttons {
            flex-direction: column;
            max-height: 40vh; } }
        #site-container #buttonz #functions .func-buttons span {
          display: flex;
          margin-right: 15px;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border-radius: 15px;
          font-size: 2rem;
          border: 1px solid rgba(204, 255, 0, 0.4);
          cursor: pointer;
          transition: .3s ease; }
          #site-container #buttonz #functions .func-buttons span:last-child {
            margin: 0; }
          @media (max-width: 577px) {
            #site-container #buttonz #functions .func-buttons span {
              font-size: 1.5rem;
              padding: 15px; } }
          @media (max-height: 420px) {
            #site-container #buttonz #functions .func-buttons span {
              width: 80%;
              margin: 1vh auto 0 !important; } }
          #site-container #buttonz #functions .func-buttons span:active {
            background: #ccff00;
            color: #8c0aa7;
            transform: scale(0.9); }
            @media (max-height: 420px) {
              #site-container #buttonz #functions .func-buttons span:active {
                transform: none; } }
          #site-container #buttonz #functions .func-buttons span.double-active, #site-container #buttonz #functions .func-buttons span.tripple-active {
            border-color: #8c0aa7;
            color: #8c0aa7;
            background: #ccff00; }
  #site-container .round {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #ccff00; }

@keyframes shake {
  0% {
    left: -5px; }
  25% {
    left: 5px; }
  50% {
    left: -5px; }
  75% {
    left: 5px; }
  100% {
    left: 0; } }

/*# sourceMappingURL=style.css.map */
