* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #ccff00;
	font-family: 'Fahkwang', sans-serif;
}
html {
	font-size: 62.5%;
}
body {
	overflow: hidden;
}
h1 {
	font-size: 1.5em;
}
a:link,
a:visited {
	font-size: 1.8em;
	text-decoration: none;
}
span {
	font-size: 2.2em;
}
